<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form Submission</title>
</head>
<body>
  <h1>Submit Your Data</h1>

<form id="dataForm">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br><br>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br><br>
<br>
		       <!--Add your code below-->
          <input id="doneness" name="doneness" type="range" min="0" max="10" step="0.1" 
            value="0.5" oninput="this.nextElementSibling.value = this.value">
<output>0.5</output>
<br>
<br>
          <span>Well-Done</span>
<br>
<input type="checkbox" name="genre" id="action" value="action">
          <label for="action">Action</label>
          <input type="checkbox" name="genre" id="comedy" value="comedy">
          <label for="comedy">comedy</label>
          <input type="checkbox" name="genre" id="romance" value="romance">
          <label for="romance">romance</label>
          <input type="checkbox" name="genre" id="gen" value="crime">
          <label for="crime">crime</label>
          <input type="checkbox" name="genre" id="genre" value="romance">
          <label for="romance">romance</label>
          <input type="checkbox" name="genre" id="genre" value="romance">
          <label for="romance">romance</label>

<br>
<select name="cars" id="cars">
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select> 
    <button type="submit">Submit</button>
  </form>

  <p id="response"></p>
  <br>
  <br>
<p id="tst">"Hello World!"</p> 
  

  <script>
    document.getElementById('dataForm').addEventListener('submit', async (event) => {
      event.preventDefault();
      const formData = new FormData(event.target);
      username = formData.get('cars')
      document.getElementById('tst').textContent = username
      x = JSON.stringify(Object.fromEntries(formData))

      console.log(x)

  
})

  </script>
</body>
</html>

